{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Блог о путешествиях Тарановой Анастасии</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="{% static 'index/index.html' %}" id="logo">{% block header %}{% endblock %}</a></h1>
								<video autoplay muted loop id="myVideo">
							  <source src="{% static 'video.mp4' %}" type="video/mp4">
								<hr />

							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Начать</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{% url 'index:index' %}">Обо мне</a></li>
								<li>
									<a href="#">Путешествия</a>
									<ul>
										<li><a href="{% url 'vietnam:index' %}">Вьетнам</a></li>
										<li><a href="#">Италия</a></li>
										<li><a href="#">США</a></li>
										<li><a href="#">Украина</a></li>
										<li><a href="#">Нидерланды</a></li>
									</ul>
								</li>
								<li><a href="{% static 'photo.html' %}">Фотографии</a></li>
								<li><a href="#">Полезные статьи и файлы</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Вход/Регистрация</a></li>
							</ul>
						</nav>

				</div>
{%block main %}
			{% endblock %}



			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">

							<!-- Tweets -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon fa-map-marker-alt circled"><span class="label">Контакты:</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="tweet">
												Aдрес: г. Минск, Беларусь

											</article>
										</li>
										<li>
											<article class="tweet">
												taranova.nas@gmail.com
											</article>
										</li>
										<li>
											<article class="tweet">
												Контактный номер: +375 (29) 360 15 45

											</article>
										</li>

									</ul>
								</section>

							<!-- Posts -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-file circled"><span class="label">Полезные файлы</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Тут будет какая-то ссылка</a></h3>
												</header>
												<span class="timestamp">3 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Тут будет какая-то ссылка</a></h3>
												</header>
												<span class="timestamp">6 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Тут будет какая-то ссылка</a></h3>
												</header>
												<span class="timestamp">Yesterday</span>
											</article>
										</li>

									</ul>
								</section>

							<!-- Photos -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon brands fa-instagram circled"><span class="label">Photos</span></h2>
									</header>
									<div class="row gtr-25">
										<div class="col-6">
											<a href="https://www.instagram.com/p/BwaCQ10gbjs/" class="image fit"><img src="{% static 'images/pic10.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="https://www.instagram.com/p/BwRWxi_AzKs/" class="image fit"><img src="{% static 'images/pic11.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="https://www.instagram.com/p/BtbRvMkgw4z/" class="image fit"><img src="{% static 'images/pic12.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="https://www.instagram.com/p/Bv2RHfdgn3J/" class="image fit"><img src="{% static 'images/pic13.jpg' %}" alt="" /></a>

									</div>
								</section>

						</div>
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Связаться со мной:</h3>
										</header>

										<ul class="icons">

											<li><a href="https://www.facebook.com/profile.php?id=100005968149033" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/nst_taranova/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://vk.com/nst_taranova" class="icon brands fa-vk"><span class="label">Vk</span></a></li>

										</ul>
									</section>



							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>