{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Блог о путешествиях Тарановой Анастасии</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/>
    </noscript>
</head>
<body class="no-sidebar is-preload">
<style>
    ul.divided li {
        border: none;
    }
</style>
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="{% url 'index:index' %}" id="logo">{% block header %}{% endblock %}</a></h1>
            </header>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{% url 'index:index' %}">Обо мне</a></li>
                <li>
                    <a href="#">Путешествия</a>
                    <ul> {% for country in countr %}

                            <li><a href="{{ country.get_absolute_url }}">{{ country.name }}</a></li>
                    {% endfor %}


                        </ul>
                </li>
                <li><a href="{% url 'photos:index' %}">Фотографии</a></li>
                <li><a href="{% url 'blog:all_posts' %}">Полезные статьи и файлы</a></li>
                <li><a href="{% url 'preparation:index' %}">Подготовка к путешествию</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'onboarding:me' %}">Мой профиль</a></li>
                {% else %}
                <li><a href="{% url 'onboarding:index' %}">Вход/Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>

    {%block main %}
    {% endblock %}
    {% block main_allowed %}
    {% endblock %}
    {% block custom_body %}{% endblock %}

    {% block body_block %}{% endblock %}
    {% block scripts_block %}{% endblock %}

    <div id="footer">
        <div class="container">
            <div class="row">

                <!-- Tweets -->
                <section class="col-4 col-12-mobile">
                    <header>
                        <h2 class="icon solid fa-home circled"><span class="label">Контакты:</span></h2>
                    </header>
                    <ul class="divided">
                        <li>
                            <article class="tweet">
                                Aдрес: г. Минск, Беларусь

                            </article>
                        </li>
                        <li>
                            <article class="mail">
                                taranova.nas@gmail.com
                            </article>
                        </li>
                        <li>
                            <article class="tweet">
                                Контактный номер: +375 (29) 360 15 45

                            </article>
                        </li>

                    </ul>
                </section>

                <!-- Posts -->
                <section class="col-4 col-12-mobile">
                    <header>
                        <h2 class="icon solid fa-file circled"><span class="label">Полезные файлы</span></h2>
                    </header>
                    <ul class="divided">
                        {% for post in posts %}
                        <li>
                            <article class="post stub">
                                <header>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                </header>
                            </article>
                        </li>
                        {% endfor %}

                    </ul>
                </section>

                <!-- Photos -->
                <section class="col-4 col-12-mobile">
                    <header>
                        <h2 class="icon brands fa-instagram circled"><span class="label">Photos</span></h2>
                    </header>
                     <div class="row gtr-25">
                        {% for photo in random_photos %}
                            <div class="col-6">
                                <a href="{{ photo.url }}" class="image fit"><img
                                        src="{{ photo.url }}" alt=""/></a>

                            </div>
                        {% endfor %}
                    </div>
                </section>

            </div>
            <hr/>
            <div class="row">
                <div class="col-12">

                    <!-- Contact -->
                    <section class="contact">
                        <header>
                            <h3>Связаться со мной:</h3>
                        </header>

                        <ul class="icons">

                            <li><a href="https://www.facebook.com/profile.php?id=100005968149033"
                                   class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.instagram.com/nst_taranova/" class="icon brands fa-instagram"><span
                                    class="label">Instagram</span></a></li>
                            <li><a href="https://vk.com/nst_taranova" class="icon brands fa-vk"><span
                                    class="label">Vk</span></a></li>

                        </ul>
                    </section>


                </div>

            </div>
        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
