{% extends "basic.html" %}
{% load static %}
{% block header %}Давай знакомиться!{% endblock %}
{% block main %}

 <section id="banner">
					<header>
						<h2>Привет, меня зовут <strong>Таранова Анастасия</strong>:)</h2>
						<p>Я тот человек, который не может усидеть на месте и постоянно ищет приключений!</p>

					</header>
				</section>
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="#" class="image featured"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
						<header>
							<h2>Почему я люблю путешествовать?</h2>
							<p>
								<strong>Не представляю свою жизнь без путешествий - без исследования новых мест или открытия неизвестного в местах, где была уже много раз.</strong>
							</p>
						</header>
						<p>
							Путешествую всегда самостоятельно и есть неплохой опыт подготовки к поездкам разного формата.
						</p>
							<p> Главной особенностью моих путешествий является их бюджетность. Каждое путешествие серьезно осмысленно и разумно спланировано. Ведь хочется увидеть много всего на свете, но вряд ли получится сделать это мгновенно. Поэтому от момента, как только возникает идея куда-то поехать, до путешествия порой проходит много времени. Я разузнаю способы, которые позволят осуществить задуманное, потратить на это разумную сумму, но при этом не отказывать себе во всем.	</p>
							<p>	Конечно, элемент неожиданности тоже часто присутствует в путешествиях, ведь без этого было бы невероятно скучно. Составляю свои маршруты с учетом возможности для импровизации, а мои планы порой оказываются очень гибкими.</p>

							<header><h2>Факты обо мне:</h2>
							<p>  ‣ Учусь на биолога, увлекаюсь программированием (Python, HTML, CSS, JavaScipt), работала SMM-специалистом больше года.</p></li>
						<p>‣ Закончила музыкальную школу по классу фортепиано, играю на гитаре, есть свой клуб настольных игр (в коллекции более 13 серьезных стратегий).</p>
							<p>‣ Не могу жить без активностей. В этом мне помогают вылазки с палатками на природу,занятия спортом и конечно же путешествия! </p>
								<p>‣ На второй день после своего совершеннолетия пошла открывать визу и на настоящее время посетила 21 страну.</p>
									<p> ‣ Люблю знакомиться с новыми людьми, достаточно спонтанная и позитивная!</p>
								</header>

					</article>

				</div>
{% if object_list %}
    <div class="grid">
      {% for photo in object_list.random_photos %}
        <div class="photo">
          <a href="{{ photo.url }}">
            <img src="{{ photo.url }}" alt="lol">
          </a>
        </div>
      {% endfor %}
    </div>
{% endif %}
    {% endblock %}