{% extends "basic1.html" %}

{% block title %}Вход/Регистрация{% endblock %}

{% block header %}
<style>
    button {
        width: 450px;
        height: 100px;
        margin-bottom: 20px;
        margin-right: 50px;
        font-size: 25px;
        position: relative;

    }


</style>


<article>


    <section>
        <ul>
            {% if user.is_authenticated %}
            <button><a class="boot" href="{% url 'onboarding:pwc' %}">Поменять пароль</a></button>
            <button><a class="boot" href="{% url 'onboarding:sign_out' %}">Выйти из учетной записи</a></button>
            {% else %}
            <button><a class="boot" href="{% url 'onboarding:sign_in' %}">Войти</a></button>
            <button><a class="boot" href="{% url 'onboarding:sign_up' %}">Зарегистрироваться</a></button>
            {% endif %}
        </ul>
    </section>

</article>
{% endblock %}



