{% extends "basic.html" %}

{% block title %}Вход/Регистрация{% endblock %}

{% block header %}Вход/Регистрация{% endblock %}

{% block main %}

    <article>


        <section>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'onboarding:pwc' %}">Поменять пароль</a></li>
                    <li><a href="{% url 'onboarding:sign_out' %}">Выйти из учетной записи</a></li>
                {% else %}
                    <li><a href="{% url 'onboarding:sign_in' %}">Войти</a></li>
                    <li><a href="{% url 'onboarding:sign_up' %}">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </section>

    </article>

{% endblock %}
