{% extends "basic.html" %}

{% block title %}Вход/Регистрация{% endblock %}

{% block header %}Вход/Регистрация{% endblock %}

{% block main %}

    <article>


        <section>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'onboarding:pwc' %}">Change Password</a></li>
                    <li><a href="{% url 'onboarding:sign_out' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'onboarding:sign_in' %}">Sign In</a></li>
                    <li><a href="{% url 'onboarding:sign_up' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </section>

    </article>

{% endblock %}
