{% extends "basic.html" %}

{% block title %}Ваш профиль{% endblock %}

{% block header %}Ваш профиль{% endblock %}

{% block main_allowed %}

    <article>

        <h2>Ваш профиль</h2>

        {% if newbie_alert %}
            <p><strong>{{ newbie_alert }}</strong></p>
        {% endif %}

        <div class="grid">
            <p class="header">Имя:</p>
            <p>{{ user.username }}</p>

            <p class="header">E-mail:</p>
            <p>{{ user.email }}</p>

            <p class="header">Показать имя:</p>
            <p>{{ profile.name }}</p>

        </div>

        <p>
            <a href="{% url 'onboarding:me_edit' %}">
                <button class="button">Изменить профиль</button>
            </a>
        </p>

    </article>

{% endblock %}
