{% extends "basic.html" %}

{% block title %}Редактировать профиль{% endblock %}

{% block header %}Редактировать профиль{% endblock %}

{% block main %}

    <article>

        {% if user.is_anonymous %}

            <h2>У вас нет доступа к этой странице</h2>

        {% else %}

            <h2>Ваша новая информация</h2>

            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="grid">
                    {{ form.as_p }}
                </div>
                <button class="button" type="submit">Update</button>
            </form>

        {% endif %}

    </article>

{% endblock %}
