{% extends "basic1.html" %}

{% block title %}Зарегистрироваться{% endblock %}

{% block header %}Зарегистрироваться{% endblock %}

{% block main %}
<style>
    .container {
        padding-left: 320px;
        padding-top: 20px;
        padding-bottom: 0;
        margin: 0;

    }

</style>
<div class="wrapper style2">
    <div class="container">
        <header class="special" id="main">

            <article>

                {% if form.errors %}
                <p>Errors:</p>
                <p>{{ form.errors }}</p>
                {% endif %}

                {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
                {% endif %}

            </article>

            <article>
                <form action="{% url 'onboarding:sign_up' %}" method="post">
                    <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
                    <div class="grid">
                        {{ form.as_p }}
                    </div>
                    <button class="button" type="submit">Зарегистрироваться</button>
                    <input name="next" type="hidden" value="{{ next }}">
                </form>
            </article>
        </header>
    </div>

</div>

{% endblock %}
