{% extends "basic1.html" %}

{% block title %}Вы зарегистрировались успешно{% endblock %}

{% block main %}
<style>
    .container {
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 0;

    }

    h2 {
        padding-bottom: 20px;
    }

</style>
<div class="wrapper style2">
    <div class="container">
        <header class="special" id="main">

            <article>

                <h2>Отлично!</h2>

                <p>Для завершения регистрации проверьте свою электронную почту.</p>
                <p>Письмо с кодом для активации было отправлено на ваш ящик.</p>

            </article>
        </header>
    </div>

</div>

{% endblock %}
