{% extends "basic1.html" %}

{% block title %}Войти{% endblock %}

{% block header %}Войти{% endblock %}

{% block main %}
<style>
    .container {
        padding-left: 320px;
        padding-top: 40px;
        padding-bottom: 0;
        margin: 0;

    }

</style>
<div class="wrapper style2">
    <div class="container">
        <header id="main" class="special">

    <article>

        {% if form.errors %}
            <p>Some errors</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                   please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

    </article>

    <article>

        <form action="{% url 'onboarding:sign_in' %}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="grid">
                <p>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </p>
                <p>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </p>
            </div>

            <button type="submit" class="button">Войти</button>


            <input name="next" type="hidden" value="{{ next }}">
        </form>
        <form action="{% url 'onboarding:sign_up' %}">
    <button type="submit">Зарегистрироваться</button>
</form>

    </article>
            </header>
        </div>

						</div>

{% endblock %}
