<!DOCTYPE html>
{% extends "basic1.html" %}
{% load static %}
{% block header %}Детали поездки{% endblock %}


{% block body_block %}
<div class="wrapper style2">
    <div class="container">


        <h2>
            {{ trips.name }}
        </h2>


        <h3>Список вещей, которые нужно взять с собой:</h3>

        <p>
            {{ trips.packing_list }}
        </p>


        <h3>Начало поездки:</h3>
        <p>{{ trips.start_date }}
        </p>


        <h3>Конец поездки:</h3>
        <p>{{ trips.end_date }}</p>


        <h3>Бюджет:</h3>
        <p>{{ trips.budget }}</p>



                        <h3>Map of {{ trips.destination }}</h3>



                <h4 class="mt-0 mb-3">Comments ({{ trips.comments_total }})</h4>

                <textarea class="form-control form-control-light mb-2" placeholder="Write message" id="example-textarea"
                          rows="3"></textarea>
                <div class="text-right">
                    <div class="btn-group mb-2">
                        <button type="button" class="btn btn-link btn-sm text-muted font-18"><i
                                class="dripicons-paperclip"></i></button>
                    </div>
                    <div class="btn-group mb-2 ml-2">
                        <button type="button" class="btn btn-primary btn-sm">Submit</button>




            </div> <!-- end card-body-->
        </div>
        <!-- end card-->
    </div> <!-- end col -->





            </div>




{% endblock %}