{% extends "basic1.html" %}
{% load static %}
{% block header %}Фотографии{% endblock %}
{% block main %}
				<div class="wrapper style1">


						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/pic08.jpg' %}" alt="" /></a>
								<header>
									<h3><a href="#">Вьетнам</a></h3>
								</header>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/pic16.jpg' %}" alt="" /></a>
								<header>
									<h3><a href="#">США</a></h3>
								</header>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/pic09.jpg' %}" alt="" /></a>
								<header>
									<h3><a href="#">Италия</a></h3>
								</header>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/pic07.jpg' %}" alt="" /></a>
								<header>
									<h3><a href="#">Нидерланды</a></h3>
								</header>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/pic17.png' %}" alt="" /></a>
								<header>
									<h3><a href="#">Страны Скандинавии</a></h3>
								</header>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'images/pic18.jpeg' %}" alt="" /></a>
								<header>
									<h3><a href="#">Украина</a></h3>
								</header>
							</article>
						</div>
					</div>

				</div>

				<div id="footer">
					<div class="container">
						<div class="row">

{% endblock %}
