{% extends "basic1.html" %}
{% load static %}
{% block header %}Вьетнам{% endblock %}
{% block main %}
{% for vietnam in object_list %}
<div class="wrapper style1">
    <div class="container">
        <article class="special" id="main">
            <header>
                <h3><a href="#"></a>{{ vietnam.h3 | safe }}</h3>
            </header>
            <section>
                <header>
                    <h2><a name="#"></a>{{ vietnam.h2 | safe }}</h2>
                </header>
                <p><strong>{{ vietnam.predescription | safe }}</strong></p>
                <p>{{ vietnam.description | safe }}</p>
            </section>
            <div class="row">
                <article class="col-4 col-12-mobile special">
                    <a class="image featured" href="#"><img alt="" src="{% static 'images/pic12.jpg' %}"/></a>

                </article>
                <article class="col-4 col-12-mobile special">
                    <a class="image featured" href="#"><img alt="" src="{% static 'images/pic02.jpg' %}"/></a>


                </article>
                <article class="col-4 col-12-mobile special">
                    <a class="image featured" href="#"><img alt="" src="{% static 'images/pic01.jpg' %}"/></a>

                </article>
            </div>
    </div>

</div>
{% endfor %}

{% endblock %}