{% extends "basic.html" %}
{% block title %}Travel blog{% endblock %}
{% block header %}Вьетнам{% endblock %}
{% block main %}
<div class="contentWrapper">
    <article class="main">
        <h2></h2>
        <p><img src="index/imgs/nastya1.jpg" alt="Nastya Taranova" class="half right"></p>
        <p></p>
        <p></p>
        <p>
        <h3></h3></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>

        </ul>
        <h3></h3>
        <p></p>
        <p></p>
    </article>
  {% endblock %}