{% extends "basic1.html" %}
{% load static %}
{% block header %}Как со мной связаться?{% endblock %}
{% block main %}

<h1>Маршруты:</h1>
{% if shops %}
<ul>
    {% for shop in shops %}
    <li>
        {{ shop.name }} : {{shop.distance}}
        {{shop.location}}
    </li>
    {% endfor %}
</ul>
{% endif %}
<script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
<div id="map" style="width: 100%; height: 400px;"></div>
<script>
    DG.then(function () {
        var map,
            marker1,
            marker2,
            marker3,
            group;

        map = DG.map('map', {
            center: [54.98, 82.89],
            zoom: 13
        });

        marker1 = DG.marker([54.96, 82.889]).addTo(map);
        marker2 = DG.marker([54.98, 82.893]).addTo(map);
        marker3 = DG.marker([54.99, 82.896]).addTo(map);

        group = DG.featureGroup([marker1, marker2, marker3]);
        group.addTo(map);
        group.on('click', function (e) {
            map.setView([e.latlng.lat, e.latlng.lng]);
        });
    });
</script>


{% endblock %}